@import url(//db.onlinewebfonts.com/c/0ae0673edd2fd211e4dc52a1275e0b87?family=Inception);
@import url(//db.onlinewebfonts.com/c/0f1b96ffaf193ffaf5c53fc394d54125?family=Lusta);

/* @font-face {
  font-family: "ACFramedInverted" ;
  src: url("ACFramedInverted.otf") format("opentype");
} */
* {
  /* font-family: "Inception"; */
}
.main-div {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: turquoise; */
}

.parallax {
  
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  /* border: 8px solid red; */
}


.parallax__layer {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}

.parallax__layer--middle {
  transform: translateZ(-3px); 
}

/* add some padding to force scrollbars */
.parallax__layer {
  
  pointer-events: none;
}

/* Art */
body {
  /* background: linear-gradient(#000000 0%, #29282a 100%); */
}
.background {
  /* position: absolute; */
  display: block;
}
.parallax__layer--deep {
  /* padding: 0 120vw; */
}
.parallax__layer--deep .background {
  opacity: 0.25;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  background-repeat: repeat-x;
  background-position: top center;  
  background-size: 80vh;
}

.parallax__layer--back {
  /* padding: 0 200vw; */
}
.parallax__layer--back .background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  background-repeat: repeat-x;
  background-position: bottom center;  
  background-size: 110vw

}
.parallax__layer--base{
  /* padding: 0 100vw; */
}
.parallax__layer--base .background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-position: bottom center;  
  /* background-size: 30vh; */
  

}

.mc-img {
  width: 100%;
}


.stairs-div {
  display: flex;
  height: 80vh;
  width: 100%;
  border: 4px solid red;
  position: relative;
  /* top: 4rem; */
}

.scifi-div {
  height: 120vh;
  background-color: #96B9D0;
  position: relative;
  top: 40vh
}

.type-div {
  height: 80vh;
  position: relative;
  top: 8vh;
}

.mcescher-div {
  height: 40vh;
    width: 100%;
    /* border: 4px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10vh;
    /* background: url() 0 0 no-repeat, radial-gradient(ellipse at center, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%) */
    
    /* background: linear-gradient(to left, #898989 50%, #353535 100%); */
    background-blend-mode: multiply;
}


.title {
  font-size: 72px;
  font-family: "Inception";
}

.title1 {
  font-size: 72px;
  font-family: "Lusta";
  color: whitesmoke;
  font-weight: lighter;
}