

  // bottom right
  .penrose-triangle {
    border: 5px solid black;
    width: 550px;
    height: 750px;
    margin-left: -60px;
    margin-top: -30px;
    background-repeat: no-repeat;
    background-image: linear-gradient(-30deg, transparent 42.5%,
                                              lighten(mediumaquamarine, 40%) 42.5%,
                                              lighten(mediumaquamarine, 40%) 58.2%,
                                              transparent 58.2%),
                      linear-gradient(-30deg, transparent 55%,
                                              lighten(mediumaquamarine, 90%) 55%,
                                              lighten(mediumaquamarine, 90%) 70%,
                                              transparent 70%),
                      linear-gradient(30deg,  transparent 70%,
                                              lighten(mediumaquamarine, 90%) 70%,
                                              lighten(mediumaquamarine, 90%) 94.8%,
                                              transparent 94.8%),
                      linear-gradient(30deg,  transparent 45%,
                                              lighten(mediumaquamarine, 70%) 45%,
                                              lighten(mediumaquamarine, 70%) 75%,
                                              transparent 75%);
    background-size: 100% 95%,
                     100% 95%,
                     100% 20%;
                    //  100% 20%;
    background-position: 0 100%,
                         0 100%,
                         0 0,
                         0 0
  }
    

    // left vertical
    .penrose-triangle:before {
        width: 800px;
      height: 250px;
      left: -30px;
      bottom: 0;
      background-repeat: no-repeat;
      background-image: linear-gradient(30deg,  transparent 7%,
                                                lighten(mediumaquamarine, 70%) 7%,
                                                lighten(mediumaquamarine, 70%) 86.5%,
                                                transparent 86.5% ),
                        linear-gradient(-30deg, transparent 7%,
                                                lighten(mediumaquamarine, 40%) 7%,
                                                lighten(mediumaquamarine, 40%) 86.5%,
                                                transparent 86.5% ),
                        linear-gradient(-30deg, transparent 50%,
                                                lighten(mediumaquamarine, 90%) 50%,
                                                lighten(mediumaquamarine, 90%) 93%,
                                                transparent 93%),
                        linear-gradient(30deg,  transparent 50%,
                                                lighten(mediumaquamarine, 90%) 50%,
                                                lighten(mediumaquamarine, 90%) 93%,
                                                transparent 93%);
      background-size: 50.1% 100%;
      background-position: 0 100%,
                           100% 100%,
                           0 0,
                           100% 0
    }
      

    
    .penrose-triangle:after {
        width: 180px;
      height: 108px;
      bottom: 142px;
      background-repeat: no-repeat;
      background-image: linear-gradient(30deg, transparent 33.8%,
                                               lighten(mediumaquamarine, 90%) 33.8%,
                                               lighten(mediumaquamarine, 90%) 50.5%,
                                               transparent 50.5%),
                        linear-gradient(30deg, transparent 18.3%,
                                               lighten(mediumaquamarine, 70%) 18.3%,
                                               lighten(mediumaquamarine, 70%) 34%,
                                               transparent 34%);
      background-size: 100% 100%;
      background-position: 0 0

    }
      