.inception-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: rgb(110,157,171); */
    font-family: "Inception";
    color: red;
    height: 80vh;
    background-color: royalblue;
    border: 4px solid white;
    position: relative;
    top: 20vh;
    /* opacity: .8; */
    
}
.inception-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 3px salmon; */
    width: 40%;

}


.inception-title {
    font-size: 72px;
}

.penrose-stairs {
    width: 40%;
}

.img-stairs {
    width: 40vw;
    height: 40vh;
}

.stairs-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}