.navbar-div {
    width: 100%;
    height: 8rem;
    background-color: salmon;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.title-nav {
  font-size: 36px;
  font-family: "Inception";
  color: whitesmoke
}

.paradox-img {
  height: 9rem;
  width: 80%;
  position: relative;
  top: .5rem;
}