/*  */@import url(//db.onlinewebfonts.com/c/7316502e912d6bbd870b566eabd9380b?family=Paradox+Now);
/* @font-face {
  font-family: 'Paradox Mosaic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Paradox Mosaic Regular'), url('ParadoxMosaic.woff') format('woff');
  } */
  @import url(//db.onlinewebfonts.com/c/1e8c26825085a51dcd6b4b3dfe4c5352?family=HomepageBaukasten+Bold);

  @font-face {font-family: "HomepageBaukasten Bold"; src: url("//db.onlinewebfonts.com/t/1e8c26825085a51dcd6b4b3dfe4c5352.eot"); src: url("//db.onlinewebfonts.com/t/1e8c26825085a51dcd6b4b3dfe4c5352.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1e8c26825085a51dcd6b4b3dfe4c5352.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1e8c26825085a51dcd6b4b3dfe4c5352.woff") format("woff"), url("//db.onlinewebfonts.com/t/1e8c26825085a51dcd6b4b3dfe4c5352.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1e8c26825085a51dcd6b4b3dfe4c5352.svg#HomepageBaukasten Bold") format("svg"); } 
.cube-div {
  height: 100vh;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  align-items: center;
  /* border: 4px solid black; */
  font-family: "HomepageBaukasten Bold";
  background-color: #D2D2CF;
}

.triangle {
  width: 50%
}
.pen-tri {
height: 20rem;
width: 20rem;
}

.title-div {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
font-size: 24px;
font-weight: lighter;
width: 50%;
height: 70%;
position: relative;
bottom: 4rem;
}

.para-title {
  font-size: 65px;
}

.pro {
  font-size: 40px;
}

.paradox-info {
width: 50%
}
:root {
  --color-primary: #FFB23C;
  --color-primary-dark: #000000;
  --color-primary-light: #FFD928;
  --color-secondary: #2c3e50;

  --cube-size: 3.5rem;
  --cube-margin: calc(var(--cube-size) + 1rem);
  height: 100%;
}

@keyframes rotate {
  from {
    transform: translate3d(-6.6vw, -3vw, 0) rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: translate3d(-6.6vw, -3vw, 0) rotate3d(0, 0, 1, 360deg);
  }
}

.penrose-triangle {
  display: block;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  position: relative;
  transform-origin: 13.3rem 11.5rem;
  animation: rotate 30s linear infinite;

  filter: drop-shadow(0 0 4rem rgba(black, 0.2));
}
  .side {
    display: block;
    width: 20rem;
    height: 20rem;
    position: absolute;
    clip-path: polygon(57% 0, 75% 0, 26% 85%, 89.5% 85%, 98.4% 100%, 0 100%);
    transition: background-color 1s ease;
  }
    .side:nth-of-type(1) {
      top: 0;
      left: 0;
      transform: rotate(0deg);
      background-color: #c71585;
    }

    .side:nth-of-type(2) {
      top: 18.3%;
      left: 43.3%;
      transform: rotate(120deg);
      background-color: #8a0b84;
    }

    .side:nth-of-type(3) {
      top: 46.5%;
      left: 5.9%;
      transform: rotate(240deg);
      background-color: #4b0082;
    }

    .side:nth-of-type(1):hover,
    .side:nth-of-type(2):hover,
    /* .side:nth-of-type(3):hover {
      background: {
        image: url(http://aepicos.com/codepen/images/space-bg.gif);
        size: cover;
      } */



/* body {
  height: 100%;
  background: linear-gradient(-45deg, #ef954e 10%, #FF4F4D 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

.para-para {
  font-size: 20px;
}
.container {
  position: relative;
  width: calc(4 * var(--cube-size) );
  height: calc(5 * var(--cube-size));
}

.cube-container {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: 45rem;
  position: absolute;
}

.cube-container:nth-child(1) {
  left: 0;
  top: 0;
  z-index: 6;
}

.cube-container:nth-child(2) {
  left: 0;
  top: var(--cube-margin);
  z-index: 5;
}

.cube-container:nth-child(3) {
  left: 0;
  top: calc(var(--cube-margin) * 2);
  z-index: 4;
}

.cube-container:nth-child(4) {
  left: 0;
  top: calc(var(--cube-margin) * 3);
  z-index: 3;
}

.cube-container:nth-child(5) {
  left: var(--cube-size);
  top: calc(var(--cube-margin) / 2);
  z-index: 7;
}

.cube-container:nth-child(6) {
  left: calc(var(--cube-size) * 2);
  top: var(--cube-margin);
  z-index: 8;
}

.cube-container:nth-child(7) {
  left: calc(var(--cube-size) * 3);
  top: calc(var(--cube-margin) * 1.5);
  z-index: 11;
}

.cube-container:nth-child(8) {
  left: calc(var(--cube-size) * 2);
  top: calc(var(--cube-margin) * 2);
  z-index: 1;
}

.cube-container:nth-child(9) {
  left: var(--cube-size);
  top: calc(var(--cube-margin) * 2.5);
  z-index: 2;
}

.ball {
  width: 0.85rem;
  height: 0.85rem;
  background: var(--color-secondary);
  position: absolute;
  z-index: 15;
  border-radius: 50%;
  left: calc(var(--cube-size) * 2 + 1.3rem);
  top: calc(var(--cube-margin) - 0.2rem);
}

.overlay-1 {
  left: calc(var(--cube-size) * 3);
  top: calc(var(--cube-margin) * 1.5);
  z-index: 10;
}

.overlay-1 .cube__face:nth-child(2) {
  height: calc(var(--cube-size) / 2);
}

.overlay-2 {
  left: calc(var(--cube-size) * 2);
  top: calc(var(--cube-margin) * 2);
  z-index: 11;
}

.overlay-2 .cube__face:nth-child(2) {
  visibility: hidden;
}

.overlay-2 .cube__face:nth-child(1) {
  background: linear-gradient(-45deg, var(--color-primary) 70%, transparent 70%);

}


.cube {
  position: relative;
  width: var(--cube-size);
  height: var(--cube-size);
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(45deg);
}

.cube__face {
  position: absolute;
  width: var(--cube-size);
  height: var(--cube-size);
}

.cube__face:nth-child(1){
  transform: rotateX(90deg) translateZ(calc(var(--cube-size) / 2));
  background: var(--color-primary);
}

.cube__face:nth-child(2){
  transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2));
  background: var(--color-primary-dark);
}

.cube__face:nth-child(3){
  transform: translateZ(calc(var(--cube-size) / 2));
  background: var(--color-primary-light);
}

@media (max-width: 1200px) {
  .paradox-info {
    width: 45%
    }

  .triangle {
    width: 60%
  }
  .para-para {
    font-size: 15px;
  }

  .para-title {
    font-size: 50px;
  }
  
  .pro {
    font-size: 30px;
  }
  
  .paradox-info {
  width: 50%
  }

  .penrose-triangle {
    height: 15rem;
    width: 15rem;
  }

  .side {
    height: 15rem;
    width: 15rem;
  }

}

@media (max-width: 850px) {
  .paradox-info {
    width: 40%
    }

  .triangle {
    width: 65%
  }
  .para-para {
    font-size: 13px;
  }

  .para-title {
    font-size: 40px;
  }
  
  .pro {
    font-size: 20px;
  }
  
  .paradox-info {
  width: 50%
  }

  .penrose-triangle {
    height: 13rem;
    width: 13rem;
  }

  .side {
    height: 13rem;
    width: 13rem;
  }

}

@media (max-width: 600px) {
  .cube-div {
    flex-direction: column-reverse;
    justify-content: ;


  }
  .title-div {
    width: 80%;
    height: 50%
    }

    .paradox-info {
      min-width: 80%;
      position: relative;
      bottom: 5rem;
      }

  .triangle {
    width: 50%;
    height: 40%;
    position: relative;
    right: 5%;

  }
  .para-para {
    font-size: 12px;
  }

  .para-title {
    font-size: 40px;
  }
  
  .pro {
    font-size: 20px;
  }
  
  .paradox-info {
  width: 50%
  }

  .penrose-triangle {
    height: 11rem;
    width: 11rem;
  }

  .side {
    height: 11rem;
    width: 11rem;
  }

  @keyframes rotate {
    from {
      /* transform: translate3d(-2.4vw, -1.5vw, 0) rotate3d(0, 0, .5, 0deg); */
    }
    to {
      /* transform: translate3d(-2.4vw, -1.5vw, 0) rotate3d(0, 0, .5, 360deg); */
    }
  }

}

@media (max-width: 450px) {
  .title-div {
    width: 80%;
    height: 53%
    }

    .triangle {
      width: 50%;
      height: 50%;
      position: relative;
      right: 10%;
      top: 1rem;
}
.penrose-triangle {
  height: 9rem;
  width: 9rem;
}

.side {
  height: 9rem;
  width: 9rem;
}
}

@media (max-width: 360px) {
  .cube-div {
    flex-direction: column-reverse;
    justify-content: ;


  }
  .title-div {
    width: 80%;
    height: 33%
    }

    .paradox-info {
      min-width: 80%;
      position: relative;
      bottom: 7rem;
      }

  .triangle {
    width: 50%;
    height: 65%;
    position: relative;
    right: 10%;

  }
  .para-para {
    font-size: 12px;
  }

  .what {
    font-size: 15px;
  }

  .para-title {
    font-size: 24px;
  }
  
  .pro {
    font-size: 14px;
  }
  
  .paradox-info {
  width: 50%
  }

  .penrose-triangle {
    height: 7rem;
    width: 7rem;
  }

  .side {
    height: 7rem;
    width: 7rem;
  }

}