.why-div {
    /* border: 8px solid yellow; */
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: lightskyblue;
    /* opacity: .8; */
    position: relative;
    bottom: 20vh 
    /* bottom: 7vh; */
   
    
}

.inception-img {
    height: 60vh;
    width:50vw;
    position: relative;
    left: 7vw;
}
.why-div {
    display: flex;
    flex-direction: row;
  }
  .statement {
    font-family: "Inception";
    font-size: 30px;
    font-weight: lighter;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 2rem;
    bottom: 2rem;
  }
.statement {
    border: 2px solid skyblue;
}
.h3-headers {
    color: red;
    font-size: 22px
}

.why-info {
    color: red;
    font-size: 30px;
}

.block {
    background: #73695D;
    background: linear-gradient(180deg, #444035 0%, #444035 22%, #73695D 22%, #73695D 35%, #444035 45%, #444035 60%, #73695D 60%, #73695D 73%, #444035 88%, #444035 98%, #73695D 98%);
    z-index: 0;
    position: absolute;
    left: 150px;
    width: 100px;
    min-height: 939px;
    height: 100vh;
  }
  .stairs {
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 800px;
  }
  .stairs--layer {
    position: absolute;
    top: 50px;
    width: 800px;
    z-index: 0;
  }
  .level {
    position: relative;
    display: flex;
    height: 360px;
  }
  .level > * {
    position: relative;
    height: 100px;
  }
  .level > *:before {
    content: "";
    display: block;
    position: absolute;
    top: -97px;
    width: 100%;
    height: 95px;
    background-image: linear-gradient(180deg, transparent 0%, transparent 30%, #404040 30%, #404040 33%, transparent 33%, transparent 63%, #404040 63%, #404040 66%, transparent 66%, transparent 100%);
    box-shadow: inset -3px 0px 0 0px #404040;
    background-size: 10% 100%;
    border-top: 3px solid #404040;
  }
  .stairs--layer .level > *:before {
    content: none;
  }
  .level > *:after {
    content: "";
    display: block;
    position: absolute;
    top: 100px;
    background-color: #23261C;
    width: 100%;
    height: 75px;
  }
  .upper {
    background: #73695D;
    width: 40%;
  }
  .upper:after {
    height: 55px;
  }
  .stairs--layer .upper:after {
    height: 75px;
  }
  .middle {
    background: #a69886;
    transform: skew(0deg, 33deg);
    transform-origin: left;
    width: 35%;
  }
  .stairs--layer .middle {
    background: #73695d;
    transform: skew(0deg, -33deg);
  }
  .stairs--layer .middle:before {
    content: "";
    display: block;
    position: absolute;
    top: -97px;
    width: 100%;
    height: 95px;
    background-image: linear-gradient(180deg, transparent 0%, transparent 30%, #404040 30%, #404040 33%, transparent 33%, transparent 63%, #404040 63%, #404040 66%, transparent 66%, transparent 100%);
    box-shadow: inset -3px 0px 0 0px #404040;
    background-size: 10% 100%;
    border-top: 3px solid #404040;
  }
  .lower {
    background: #73695D;
    margin-top: 182px;
    width: 25%;
  }
  .stairs--layer .lower {
    background: transparent;
    margin-top: -182px;
  }
  .lower:after {
    transform: skewX(-20deg);
    left: -14px;
  }
  .stairs--layer .lower:after {
    left: -31px;
  }

